body {
  background-image: url('https://img.freepik.com/premium-photo/long-hospital-corridor-with-empty-seats_117023-1679.jpg?size=626&ext=jpg&ga=GA1.1.357158304.1665643559&semt=sph');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
