.jumbotron {
  padding-top: 5em;
}

.title {
  text-align: center;
}

#about {
  background-image: url('../image/hospital.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 9%;
  padding-bottom: 9%;
}
